.vscode

# Node Modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# Build Files
.next/
dist/
out/

# Vercel & Environment Files
.vercel/
.env.local
.env.development
.env.production
.env
